*{
    margin: 0;
}

/* Navigation */
.navigation{
    z-index: 2;
    background-color: white;
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 150px 10px 100px;
}

#talk{
    padding: 15px 25px;
    border-radius: 8px;
    color: white;
    background-color: #021DF3;
}

.anchs{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #333333;
}
.anchs:hover{
    font-weight: 600;
    color: #021DF3;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
li{
    margin: 35px;
}
#active{
    color: #021DF3;
    font-weight: 600;
}

#logo{
    width: 20vh;
}

h1{
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}

/* Home */
.home{
    margin: 10px 50px 0 50px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    height: 90vh;
}
.left-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.title-home{
    z-index: 1;
    font-size: 80px;
    transform: translate(15%, -20%);
}
.content-home{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    margin-left: 15%;
    margin-right: 0;
    padding-right: 50px;
}
#more-btn{
    cursor: pointer;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #ECF2FE;
    margin-left: 15%;
    margin-top: 5%;
    border-style: none;
    border-radius: 8px;
    padding: 15px;
    background-color: #021DF3;
    width: 120px;
}
.right-home{
    margin-top: 10%;
    margin-right: 15%;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
.lengthwise{
    height: 60vh;
    background-color: #021DF3;
}
.crosswise{
    height: 50vh;
    background-color:#021DF3;
}

/* About Us */
.about{
    background-color: #ECF2FE;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 90vh;
}
.left-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
}

.top-about{
    margin-bottom: 40px;
    padding-right: 100px;
}
.title-about{
    color: #333333;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
}
.content-about{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}

.bot-about{
    display: flex;
    flex-direction: column;
}
.indv-about{
    display: flex;
    margin: 10px;
    padding-right: 100px;
}
.num-abt{
    color: #FEC900;
    opacity: 30%;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cont-abt{
    margin-left: 50px;
}
.cont-title{
    color: #333333;
    margin-bottom: 8px;
}
.cont{
    font-family: 'Roboto', sans-serif;
    color: #333333;
    line-height: 30px;
}

.right-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 8px;
    width: auto;
    background-color: #021DF3;
}

/* Contact */
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ECF2FE;
}
.right-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 15%;
}
.title-contact{
    color: #333333;
    font-size: 70px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 80px;
}

.inpt-contnr{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-bottom: 5%;
}
.inpt-contnr > label{
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.inpt-contnr > textarea{
    width: auto;
    height: 150px;
}
.inpt-contct{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-style: none;
    padding: 20px;
}

.left-contact{
    background-color: #021DF3;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-contact > img{
    width: 70px;
}

/* Footer */
.footer{
    margin-top: 2%;
    border-top: solid 1px #999999;
    padding-top: 5%;
}
.top-footer{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1.5fr;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5%;
}
.ftr-links{
    margin: 20px 0px;
}
.ftr-links > a{
    text-decoration: none;
    font-weight: 400;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.title-ftr{
    color: #021DF3;
    font-family: 'Roboto', sans-serif;
}

.socmed-ftr{
    margin-right: 35%;
}
.socmed-logos{
    display: flex;
    flex-direction: row;
}
.logos{
    margin-top: 10px;
    width: 50px;
}
#center-logo{
    margin: 0px 10px;
}

.bot-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2% 25%;
    justify-content: center;
    align-items: center;
    background-color: #021DF3;
}
#center-ftr{
    margin: 0px 20px;
}
.cont-ftr{
    justify-content: center;
    align-items: center;
    display: flex;
}
.cont-ftr > img{
    height: 25px;
    margin-right: 15px;
}
.cont-ftr > p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
}